$red: #F92672;
$orange: #fd971f;
$blue: #66d9ef;
$purple: #ae81ff;
$green: #a6e22e;
$white: #ffffff;
$gray: #808080;

$ansi-black: #292929;
$ansi-bright-black: #646464;
$ansi-red: #e91c16;
$ansi-bright-red: #ff5555;
$ansi-green: #26c45f;
$ansi-bright-green: #67f371;
$ansi-yellow: #f67d1b;
$ansi-bright-yellow: #ffd604;
$ansi-blue: #1028b5;
$ansi-bright-blue: #1d62ff;
$ansi-magenta: #f1386f;
$ansi-bright-magenta: #ff5799;
$ansi-cyan: #0089cd;
$ansi-bright-cyan: #1ef3bd;
$ansi-white: #dddddd;
$ansi-bright-white: #ffffff;

.red {
  color: $red;
}

.orange {
  color: $orange;
}

.blue {
  color: $blue;
}

.purple {
  color: $purple;
}

.green {
  color: $green;
}

.gray {
  color: $gray;
}

body {
  color: $white;
  font-family: Menlo;
  background-color: $ansi-black;
  padding: 20px 10px 40px;
  -webkit-text-size-adjust: 100%;
}

main {
  hr {
    width: 100%;
    height: 1px;
    margin: 0;
    background-color: $gray;
    border-style: none;
  }

  a {
    color: $blue;
    &:hover, &:link, &:active, &:visited {
      color: $blue;
    }
  }

  h1 {
    color: $white;
    margin-bottom: 40px;
  }

  h2 {
    color: $red;
    font-size: 18px;
    &::before {
      content: '# '
    }
    &::after {
      content: ':'
    }
  }

  section {
    padding: 30px 20px;
  }

  ul {
    li {
      list-style-type: none;
      &::before {
        content: '- ';
        color: $gray;
      }
    }
  }
}

#profile {
  dl {
    margin-left: 2em;
    dt {
      color: $orange;
      &::after {
        content: ':';
      }
    }
    dd {
      color: white;
      margin: {
        left: 2em;
        bottom: 1em;
      }

      a {
        color: $white;
      }
    }
  }
  img.picture {
    width: 250px;
    height: 250px;
  }
}

#products {
  .product {
    display: block;
    margin: 10px 0;
    padding: 10px;

    &:hover, &:link, &:active, &:visited {
      color: $white;
      text-decoration: none;
    }

    h3 {
      color: $purple;
    }

    .inner-box {
      padding: 10px;
      border: {
        style: solid;
        width: 1px;
        color: $gray;
      }
      transition: background-color linear .1s;
      &:hover {
        background-color: rgba(64, 64, 64, 0.5);
      }
      .eyecatch {
        width: 100%;
      }
      .description {
        min-height: 80px;
      }
    }
  }
}

#status-bar {
  $nav-height: 24px;

  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-weight: bold;
  min-height: $nav-height;
  height: $nav-height;
  ul {
    background-color: $ansi-black;
    height: $nav-height;
    margin: 0;
    padding: 0;
    li {
      line-height: $nav-height;
      list-style-type: none;
      float: left;
      a {
        &:link, &:active, &:visited {
          color: $ansi-white;
          text-decoration: none;
        }
      }
      &.active, &:hover {
        color: $ansi-green;
        a {
          &:link, &:active, &:visited {
            color: $ansi-green;
            text-decoration: none;
          }
        }
        &::after {
          content: '*'
        }
      }
      &.datetime {
        color: $ansi-yellow;
      }
      &.window {
        padding-left: 10px;
      }
      &.session {
        float: right;
        color: $ansi-bright-blue;
      }
    }
  }
}
