$black: #292929;
$bright-black: #646464;
$red: #e91c16;
$bright-red: #ff5555;
$green: #26c45f;
$bright-green: #67f371;
$yellow: #f67d1b;
$bright-yellow: #ffd604;
$blue: #1028b5;
$bright-blue: #1d62ff;
$magenta: #f1386f;
$bright-magenta: #ff5799;
$cyan: #0089cd;
$bright-cyan: #1ef3bd;
$white: #888;
$bright-white: #fff;

body {
  background-color: $black;
  color: $bright-white;
  font-family: Menlo;
  padding: 20px 10px 40px;
  -webkit-text-size-adjust: 100%;
}

main {
  hr {
    background-color: $white;
    border-style: none;
    height: 1px;
    margin: 0;
    width: 100%;
  }

  a {
    &:link, &:visited {
      color: $cyan;
    }

    &:active, &:hover {
      color: $bright-cyan;
    }
  }

  h1 {
    font-weight: bold;
  }

  h2 {
    color: $magenta;
    font-size: 1em;
    font-weight: bold;

    &::before {
      content: '# ';
    }

    &::after {
      content: ':';
    }
  }

  section {
    padding: 30px 20px;
  }

  ul {
    li {
      list-style-type: none;

      &::before {
        color: $white;
        content: '- ';
      }
    }
  }
}

#profile, #affiliation {
  dl {
    margin-left: 2em;

    dt {
      color: $yellow;

      &::after {
        content: ':';
      }
    }

    dd {
      color: $bright-white;
      margin: {
        bottom: 1em;
        left: 2em;
      }

      a {
        color: $bright-white;
      }
    }
  }

  img.picture {
    font-weight: bold;
    height: 250px;
    width: 250px;
  }
}

#awards {
  ul {
    li {
      .contest {
        color: $green;
      }

      .title { }

      .time {
        color: $white;

        &::before {
          content: '('
        }

        &::after {
          content: ')'
        }
      }
    }
  }
}

#products {
  .product {
    display: block;
    padding: 10px;
    transition: background-color linear .1s;

    .description {
      padding: 0 20px;
    }

    h3 {
      &::before {
        color: $white;
        content: '## ';
      }
    }

    h3 a {
      color: $bright-magenta;
    }
  }
}

#status-bar {
  $nav-height: 24px;

  bottom: 0;
  height: $nav-height;
  left: 0;
  min-height: $nav-height;
  position: fixed;
  width: 100%;

  ul {
    background-color: $black;
    height: $nav-height;
    margin: 0;
    padding: 0;

    li {
      line-height: $nav-height;
      list-style-type: none;
      float: left;

      a {
        &:link, &:active, &:visited {
          color: $bright-white;
          text-decoration: none;
        }
      }

      &.datetime {
        color: $yellow;
      }

      &.window {
        padding-left: 10px;

        &.active {
          color: $green;

          a {
            &:link, &:active, &:visited {
              color: $green;
              text-decoration: none;
            }
          }

          &::after {
            content: '*'
          }
        }
      }

      &.session {
        color: $bright-blue;
        float: right;
      }
    }
  }
}
