body {
  background-color: #292929;
  color: #fff;
  font-family: Menlo;
  padding: 20px 10px 40px;
  -webkit-text-size-adjust: 100%; }

main hr {
  background-color: #888;
  border-style: none;
  height: 1px;
  margin: 0;
  width: 100%; }
main a:link, main a:visited {
  color: #0089cd; }
main a:active, main a:hover {
  color: #1ef3bd; }
main h1 {
  font-weight: bold; }
main h2 {
  color: #f1386f;
  font-size: 1em;
  font-weight: bold; }
  main h2::before {
    content: '# '; }
  main h2::after {
    content: ':'; }
main section {
  padding: 30px 20px; }
main ul li {
  list-style-type: none; }
  main ul li::before {
    color: #888;
    content: '- '; }

#profile dl, #affiliation dl {
  margin-left: 2em; }
  #profile dl dt, #affiliation dl dt {
    color: #f67d1b; }
    #profile dl dt::after, #affiliation dl dt::after {
      content: ':'; }
  #profile dl dd, #affiliation dl dd {
    color: #fff;
    margin-bottom: 1em;
    margin-left: 2em; }
    #profile dl dd a, #affiliation dl dd a {
      color: #fff; }
#profile img.picture, #affiliation img.picture {
  font-weight: bold;
  height: 250px;
  width: 250px; }

#awards ul li .contest {
  color: #26c45f; }
#awards ul li .time {
  color: #888; }
  #awards ul li .time::before {
    content: "("; }
  #awards ul li .time::after {
    content: ")"; }

#products .product {
  display: block;
  padding: 10px; }
  #products .product:hover, #products .product:link, #products .product:active, #products .product:visited {
    color: #fff;
    text-decoration: none; }
  #products .product h3 {
    color: #ff5799; }
  #products .product .inner-box {
    padding: 10px;
    border-color: #888;
    border-style: solid;
    border-width: 1px;
    transition: background-color linear .1s; }
    #products .product .inner-box:hover {
      background-color: rgba(64, 64, 64, 0.5); }
    #products .product .inner-box .eyecatch {
      width: 100%; }
    #products .product .inner-box .description {
      min-height: 80px; }

#status-bar {
  bottom: 0;
  height: 24px;
  left: 0;
  min-height: 24px;
  position: fixed;
  width: 100%; }
  #status-bar ul {
    background-color: #292929;
    height: 24px;
    margin: 0;
    padding: 0; }
    #status-bar ul li {
      line-height: 24px;
      list-style-type: none;
      float: left; }
      #status-bar ul li a:link, #status-bar ul li a:active, #status-bar ul li a:visited {
        color: #fff;
        text-decoration: none; }
      #status-bar ul li.datetime {
        color: #f67d1b; }
      #status-bar ul li.window {
        padding-left: 10px; }
        #status-bar ul li.window.active {
          color: #26c45f; }
          #status-bar ul li.window.active a:link, #status-bar ul li.window.active a:active, #status-bar ul li.window.active a:visited {
            color: #26c45f;
            text-decoration: none; }
          #status-bar ul li.window.active::after {
            content: "*"; }
      #status-bar ul li.session {
        color: #1d62ff;
        float: right; }
