.className {
  font-size: 0.8rem;
  vertical-align: text-bottom;
  white-space: nowrap;
}

.icon {
  margin-right: 2px;
}

.green {
  composes: className;

  border-color: #26c45f;
  color: #26c45f;
}

.gray {
  composes: className;

  border-color: var(--tag-gray);
  color: var(--tag-gray);
}

.red {
  composes: className;

  border-color: #ff535c;
  color: #ff535c;
}

.yellow {
  composes: className;

  border-color: #ff8900;
  color: #ff8900;
}
